## Today I will  learn how to:
1)Clean messy column names

2)Remove duplicates

3)Drop or impute missing values

4)Fix inconsistent values

5)Change data types

6)Rename, reset, and reindex

## Sample Data  for Practice

In [8]:
import pandas as pd
import numpy as np
data = {
    ' Name ': ['Shally', 'Nikunj   ', 'Kartik', 'Mood', 'Kiani'],
    'Age': ['25', '30', np.nan, '30', '25'],
    'Score': [85, 90, 95, 90, 85],
    'Gender': ['F', 'M', 'M', 'm', 'f']
}
df = pd.DataFrame(data)

## 1. Clean Column Names

In [13]:
df.columns  = df.columns.str.strip().str.lower()
print(df.columns)

Index(['name', 'age', 'score', 'gender'], dtype='object')

##  2. Strip Whitespace & Standardize Text

In [17]:
df['name'] = df['name'].str.strip().str.capitalize()
df['gender'] = df['gender'].str.upper()
print(df['name'])

0    Shally
1    Nikunj
2    Kartik
3      Mood
4     Kiani
Name: name, dtype: object

##  3. Handle Data Types

In [18]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')  
print(df['age'])

0    25.0
1    30.0
2     NaN
3    30.0
4    25.0
Name: age, dtype: float64

##  4. Remove Duplicates

In [19]:
df = df.drop_duplicates()
print(df.drop_duplicates)

<bound method DataFrame.drop_duplicates of      name   age  score gender
0  Shally  25.0     85      F
1  Nikunj  30.0     90      M
2  Kartik   NaN     95      M
3    Mood  30.0     90      M
4   Kiani  25.0     85      F>

 ## 5. Check and Handle Missing Values

In [22]:
df.isnull().sum()
df = df.dropna()
print(df.dropna)

<bound method DataFrame.dropna of      name   age  score gender
0  Shally  25.0     85      F
1  Nikunj  30.0     90      M
3    Mood  30.0     90      M
4   Kiani  25.0     85      F>

##  6. Rename Columns

In [24]:
df = df.rename(columns={'score' :'marks' })
print(df.rename)

<bound method DataFrame.rename of      name   age  marks gender
0  Shally  25.0     85      F
1  Nikunj  30.0     90      M
3    Mood  30.0     90      M
4   Kiani  25.0     85      F>

##  7. Reset Index After Cleaning

In [25]:
df = df.reset_index(drop = True)
print(df)

     name   age  marks gender
0  Shally  25.0     85      F
1  Nikunj  30.0     90      M
2    Mood  30.0     90      M
3   Kiani  25.0     85      F

## 8. Replace or Map Values

In [30]:
df['gender'] = df['gender'].replace({'M': 'Male', 'F': 'Female'})
print(df)

     name   age  marks  gender
0  Shally  25.0     85  Female
1  Nikunj  30.0     90    Male
2    Mood  30.0     90    Male
3   Kiani  25.0     85  Female