##  1. Aggregation in Pandas

Aggregation allows you to summarize your data.
    
For example:
1) Average score of each student
2) Total sales per month
3) Count of entries per category

## 2. Basic groupby()

In [1]:
import pandas as pd

In [2]:
data = {
    'Department': ['IT', 'IT', 'HR', 'HR', 'Finance', 'Finance'],
    'Employee': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Salary': [70000, 80000, 50000, 60000, 90000, 85000]
}

df = pd.DataFrame(data)
grouped = df.groupby('Department')
print(grouped['Salary'].mean())

Department
Finance    87500.0
HR         55000.0
IT         75000.0
Name: Salary, dtype: float64

##  3. Common Aggregation Functions

In [3]:
print(grouped['Salary'].sum())
print(grouped['Salary'].min())
print(grouped['Salary'].max())
print(grouped['Salary'].count())

Department
Finance    175000
HR         110000
IT         150000
Name: Salary, dtype: int64
Department
Finance    85000
HR         50000
IT         70000
Name: Salary, dtype: int64
Department
Finance    90000
HR         60000
IT         80000
Name: Salary, dtype: int64
Department
Finance    2
HR         2
IT         2
Name: Salary, dtype: int64

##  4. Using .agg() for Multiple Aggregations

In [4]:
grouped = df.groupby('Department')['Salary'].agg(['mean', 'sum', 'min', 'max'])
print(grouped)

               mean     sum    min    max
Department
Finance     87500.0  175000  85000  90000
HR          55000.0  110000  50000  60000
IT          75000.0  150000  70000  80000

## 5. Group by Multiple Columns

In [7]:
data = {
    'Department': ['IT', 'IT', 'HR', 'HR', 'Finance', 'Finance'],
    'Gender': ['M', 'F', 'F', 'M', 'M', 'F'],
    'Salary': [70000, 80000, 50000, 60000, 90000, 85000]
}
df = pd.DataFrame(data)

In [8]:
print(df.groupby(['Department', 'Gender'])['Salary'].mean())

Department  Gender
Finance     F         85000.0
            M         90000.0
HR          F         50000.0
            M         60000.0
IT          F         80000.0
            M         70000.0
Name: Salary, dtype: float64

##  6. Using transform() and filter()

In [9]:
# Same Shape - Transform
df['Salary_Mean_By_Department'] = df.groupby('Department')['Salary'].transform('mean')


#  Keeps rows based on group condition - Filter
filtered = df.groupby('Department').filter(lambda x: x['Salary'].mean() > 70000)

 ## 7. Sorting Grouped Values

In [10]:
grouped = df.groupby('Department')['Salary'].mean().sort_values(ascending=False)

## 8. Resetting Index

In [11]:
grouped = df.groupby('Department')['Salary'].mean().sort_values(ascending=False)