## 1. Load a CSV File

In [1]:
import pandas as pd

In [14]:
titanic = r'C:\Users\DELL\Desktop\titanic.csv'
df = pd.read_csv(titanic)

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

From URL

In [ ]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
df = pd.read_csv(url)

## 2. Load Excel File

In [12]:
df = pd.read_excel('titanic.xlsx')

If the file has multiple sheets:

In [ ]:
df = pd.read_excel('students.xlsx', sheet_name='Marks')

## 3. Load JSON File

In [ ]:
df = pd.read_json('titanic.json')

##  4. Save Data to CSV/Excel

In [ ]:
df.to_csv('output.csv', index=False)         #index=False prevents saving index numbers in the file
df.to_excel('output.xlsx', index=False)

##  5. Read CSV Without Header

In [ ]:
df = pd.read_csv('students.csv', header=None)

We can also assign custom names as per the need

In [ ]:
df = pd.read_csv('students.csv', names=['Name', 'Age', 'Score'], header=0)

## 6. Handle Encoding Errors

In [ ]:
df = pd.read_csv('file.csv', encoding='latin1')