# What is Pandas?

#### Pandas = Python + Data Analysis

#### It helps in :
#### Load data (CSV, Excel, SQL, etc.)

#### Clean and transform messy data

#### Analysis like Excel â€” but better!

## 1. Import Pandas

In [2]:
import pandas as pd

##  2. Create a Series (1D)

In [3]:
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

## 3. Custom Index for Series

In [7]:
s = pd.Series([10,20,30], index = ['a','b','c'])

print(s)
print(s['a'])
print(s['b'])

a    10
b    20
c    30
dtype: int64
10
20

##  4. Create a DataFrame from a Dictionary

In [9]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [85, 90, 95]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

##  5. Inspecting the Data

### 1. .head():First 5 rows (default)

In [10]:
df.head(4)

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

### 2. df.tail(n): Last n rows

In [11]:
df.tail(2)

      Name  Age  Score
1      Bob   30     90
2  Charlie   35     95

###  3. df.shape: Tuple of (rows, columns)

In [12]:
df.shape

(3, 3)

### 4. .info(): Structure + data types + memory usage

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Score   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

###  5. .describe(): Statistical summary of numeric columns

In [14]:
df.describe()

        Age  Score
count   3.0    3.0
mean   30.0   90.0
std     5.0    5.0
min    25.0   85.0
25%    27.5   87.5
50%    30.0   90.0
75%    32.5   92.5
max    35.0   95.0

### 6. .columns: List of column names

In [15]:
df.columns

Index(['Name', 'Age', 'Score'], dtype='object')

### 7. .index: Index info (rows)

In [16]:
df.index

RangeIndex(start=0, stop=3, step=1)

## 6. Accessing Data

 Access column

In [17]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

 Access row by index

In [18]:
print(df.iloc[1])

Name     Bob
Age       30
Score     90
Name: 1, dtype: object

Access row by label (if custom index is set)

In [19]:
df = df.set_index('Name')
print(df.loc['Alice'])

Age      25
Score    85
Name: Alice, dtype: int64