In [1]:
student_scores_messy = r'C:\Users\DELL\Desktop\student_scores_messy.csv'

## Importing Liberaries

In [2]:
import pandas as pd 
import numpy as np

##  1. Load and Inspect

In [10]:
df = pd.read_csv(student_scores_messy)
print(df.head())
print(df.info())

    Name   Age  Score Gender
0  Nikunj   25   85.0      F
1   Rohan   30   90.0      M
2  shinjo  NaN   95.0      M
3    Nami   30   90.0      m
4   Kinau   25   85.0      f
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    Name   10 non-null     object
 1   Age     9 non-null      object
 2   Score   8 non-null      float64
 3   Gender  10 non-null     object
dtypes: float64(1), object(3)
memory usage: 452.0+ bytes
None

##  2. Clean Columns

In [15]:
df.columns = df.columns.str.strip().str.lower()
df['name'] = df['name'].str.strip().str.capitalize()
df['gender'] = df['gender'].str.strip().str.upper()
df['gender'] = df['gender'].replace({'F': 'Female', 'M': 'Male'})

In [17]:
print(df.head())

     name  age  score  gender
0  Nikunj   25   85.0  FEMALE
1   Rohan   30   90.0    MALE
2  Shinjo  NaN   95.0    MALE
3    Nami   30   90.0    MALE
4   Kinau   25   85.0  FEMALE

##  3. Convert & Handle Data Types

In [18]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['score'] = pd.to_numeric(df['score'], errors='coerce')

In [27]:
df.dropna(subset = ['age' , 'score'] ,inplace=True)

In [21]:
print(df.head())

     name   age  score  gender
0  Nikunj  25.0   85.0  FEMALE
1   Rohan  30.0   90.0    MALE
3    Nami  30.0   90.0    MALE
4   Kinau  25.0   85.0  FEMALE
6    Nump  35.0   70.0  FEMALE

##  4. Explore the Data

SUMMARY STATS

In [ ]:
print(df.describe())

FREQUENCY COUNTER

In [29]:
print(df['gender'].value_counts())

gender
FEMALE    4
MALE      2
Name: count, dtype: int64

UNIQUE VALUES

In [30]:
print(df['age'].unique())

[25. 30. 35. 40.]

CORRELATION MATRIX

In [31]:
print(df.corr(numeric_only=True))

            age     score
age    1.000000 -0.196964
score -0.196964  1.000000